definitions/modelDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013 European Molecular Biology Laboratory, Heidelberg,
Germany and Novo Nordisk A/S, Bagsvaerd, Denmark.

Licensed under the Apache License, Version 2.0 (the "License"); you
may not use this file except in compliance with the License.  You may
obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0
     
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.
-->    
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mdef="http://www.pharmml.org/2013/03/ModelDefinition"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes"
    xmlns:math="http://www.pharmml.org/2013/03/Maths" xmlns:distrib="http://www.uncertml.org/3.0"
    targetNamespace="http://www.pharmml.org/2013/03/ModelDefinition" version="0.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!--
        Imports
        -->
    <xs:import namespace="http://www.pharmml.org/2013/03/CommonTypes"
        schemaLocation="http://www.pharmml.org/2013/03/CommonTypes"/>
    <xs:import namespace="http://www.pharmml.org/2013/03/Maths"
        schemaLocation="http://www.pharmml.org/2013/03/Maths"/>
    <xs:import namespace="http://www.uncertml.org/3.0" schemaLocation="http://www.uncertml.org/3.0"/>


    <!--
        Simple Types
        -->
    <xs:simpleType name="VariabilityType">
        <xs:annotation>
            <xs:documentation>
                The type defining the type of variability of the variability model.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="error">
                <xs:annotation>
                    <xs:documentation>
                        Residual error variability.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="model">
                <xs:annotation>
                    <xs:documentation>
                        Model variability.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LhsTransformationType">
        <xs:annotation>
            <xs:documentation>
                A type defining possible transformation functions that may be applied.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="log">
                <xs:annotation>
                    <xs:documentation>Natural log transformation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="logit">
                <xs:annotation>
                    <xs:documentation>Logit transformation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="probit">
                <xs:annotation>
                    <xs:documentation>Probit transformation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <!--
        Complex Types
        -->
    <xs:complexType name="VariabilityLevelDefnType">
        <xs:annotation>
            <xs:documentation>Defines the variability level.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element minOccurs="0" name="ParentLevel" type="mdef:ParentLevelType">
                        <xs:annotation>
                            <xs:documentation>Parent variability level.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:SymbolDefinitionGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ParentLevelType">
        <xs:annotation>
            <xs:documentation>Parent level type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>References the parent level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VariabilityDefnBlock">
        <xs:annotation>
            <xs:documentation>Type defining a block defining a variability model.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" name="Level"
                        type="mdef:VariabilityLevelDefnType">
                        <xs:annotation>
                            <xs:documentation>A variability level within the model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:BlockDefnGroup"/>
                <xs:attribute name="type" type="mdef:VariabilityType" use="required">
                    <xs:annotation>
                        <xs:documentation>Defines the type of the variability model.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CommonParameterModelType" abstract="true">
        <xs:annotation>
            <xs:documentation>Abstract type defining common parameter model.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        ref="mdef:CommonParameterElement"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Correlation"
                        type="mdef:CorrelationType">
                        <xs:annotation>
                            <xs:documentation>Defines the correlation between the random effects.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:BlockDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ParameterModelType">
        <xs:annotation>
            <xs:documentation>The type defining a parameter model.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:CommonParameterModelType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CorrelatedRandomVarType">
        <xs:annotation>
            <xs:documentation>Type defining a correlated random variable.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>Reference to the random variable.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CorrelationType">
        <xs:annotation>
            <xs:documentation>Type defining a correlation between random effects.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:VariabilityReference"/>
                    <xs:element name="RandomVariable1" type="mdef:CorrelatedRandomVarType">
                        <xs:annotation>
                            <xs:documentation>The first correlated parameter.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RandomVariable2" type="mdef:CorrelatedRandomVarType">
                        <xs:annotation>
                            <xs:documentation>The second correlated parameter.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:element name="CorrelationCoefficient" type="ct:ScalarRhs">
                            <xs:annotation>
                                <xs:documentation>The correlation co-efficient variable.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Covariance" type="ct:ScalarRhs">
                            <xs:annotation>
                                <xs:documentation>The covariance for both parameters.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObservationModelType">
        <xs:annotation>
            <xs:documentation>Type defining the observation model.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:CommonParameterModelType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mdef:ObservationError"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObservationErrorType" abstract="true">
        <xs:annotation>
            <xs:documentation>Base observation error type. This defines the name of the variable
            assigned with the result of the residual error.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Symbol"/>
                    <!--xs:element minOccurs="0" ref="ct:UnitRef"/-->
                </xs:sequence>
                <xs:attributeGroup ref="ct:SymbolDefinitionGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GaussianObsError">
        <xs:annotation>
            <xs:documentation>Gaussian residual error definition. Definition is of the form: y = f + g * eps</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:ObservationErrorType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transformation"
                        type="mdef:LhsTransformationType">
                        <xs:annotation>
                            <xs:documentation>Defines the transformation (u) applied to both sides of equation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Output">
                        <xs:annotation>
                            <xs:documentation>The output variable from the structural model.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ct:SymbRef"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ErrorModel">
                        <xs:annotation>
                            <xs:documentation>The error model (g) to apply to the residual error.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ct:Assign"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ResidualError">
                        <xs:annotation>
                            <xs:documentation>The residual error (eps).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ct:SymbRef"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GeneralObsError">
        <xs:annotation>
            <xs:documentation>A general form of the residual error, where the error is unstructured and explicit.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:ObservationErrorType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transformation"
                        type="mdef:LhsTransformationType">
                        <xs:annotation>
                            <xs:documentation>Defines a transformation applied to the left-hand-side of the residual error equation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ct:Assign">
                        <xs:annotation>
                            <xs:documentation>This assignment defines the RHS of the residual error.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="CommonParameterType">
        <xs:annotation>
            <xs:documentation>Abstract type defining the common properties of a parameter definition.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Symbol"/>
                    <!--xs:element minOccurs="0" ref="ct:UnitRef"/-->
                </xs:sequence>
                <xs:attribute name="symbId" type="ct:SymbolIdType" use="required">
                    <xs:annotation>
                        <xs:documentation>The symbol id for this parameter.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndividualParameterType">
        <xs:annotation>
            <xs:documentation>Describes an individual parameter. Three encodings of a parameter model are available:
                Type 1. explicit equation type of parameter model
                psi_i = H(beta, c_i, eta_i)
                
                Type 2. Gaussian model with general covariate model
                h(psi_i) = H(beta, c_i) + eta_i
                
                Type 3. Gaussian model with linear covariate model
                h(psi_i) = h(psi_pop) + beta c_i + eta_i
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:CommonParameterType">
                <xs:sequence minOccurs="1">
                    <xs:choice>
                        <xs:element name="GaussianModel">
                            <xs:annotation>
                                <xs:documentation>Defines a Gaussian model, with either linear or non-linear covariates.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="Transformation"
                                        type="mdef:LhsTransformationType">
                                        <xs:annotation>
                                            <xs:documentation>The transformation (h) applied to both sides of the equation.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:choice>
                                        <xs:element name="LinearCovariate">
                                            <xs:annotation>
                                                <xs:documentation>Defines the linear covariate model: h(psi_pop) + beta c_i</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="PopulationParameter">
                                                  <xs:annotation>
                                                  <xs:documentation>The population parameter: psi_pop.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element ref="ct:Assign"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Covariate" maxOccurs="unbounded"
                                                  minOccurs="0" type="mdef:CovariateRelationType">
                                                  <xs:annotation>
                                                  <xs:documentation>Defines the linear covates: beta c_i</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="GeneralCovariate">
                                            <xs:annotation>
                                                <xs:documentation>A general covariate model definition. This can be used to define a non-linear covariate model.
                                                    This equates to H in the above definitions.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="ct:Assign">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                The general covariate definition. Note that this should NOT contain references to a random variable. You should use an explicit (type 3) parameter definition to do that.
                                                            </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:element name="RandomEffects" maxOccurs="1"
                                        type="mdef:ParameterRandomEffectType">
                                        <xs:annotation>
                                            <xs:documentation>The random effects (eta) used in the gaussian parameter model.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="1" ref="ct:Assign">
                            <xs:annotation>
                                <xs:documentation>
                                    The explicit, type 1, definition of an individual parameter. This defines H and can contain references to one or more random variables.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SimpleParameterType">
        <xs:annotation>
            <xs:documentation>
                This defines a parameter that does not contain any random effects. Once initialised its value will not change
                over time. The parameter is of type real.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:CommonParameterType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Assign">
                        <xs:annotation>
                            <xs:documentation>Initialises the parameter.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ParameterRandomVariableType">
        <xs:annotation>
            <xs:documentation>
                Type specifies a random variable definition.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mdef:CommonParameterType">
                <xs:sequence>
                    <xs:element ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                The level of random variability that describes this random variable.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="distrib:AbstractContinuousUnivariateDistribution">
                        <xs:annotation>
                            <xs:documentation>
                                A continuous univariate probability distribution, defined by UncertML, that describes this random variable. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CovariateRelationType">
        <xs:annotation>
            <xs:documentation>Type defining the relationship between the covariate and a fixed effect parameter. Typically this defines a linear relationships.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>The covariate to be related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="FixedEffect" type="mdef:FixedEffectRelationType">
                <xs:annotation>
                    <xs:documentation>The fixed effect relating the parameter and covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FixedEffectRelationType">
        <xs:annotation>
            <xs:documentation>Defines a fixed effect.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>A reference to the variable defining the fixed effect value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Category" type="mdef:CategoricalRelationType">
                <xs:annotation>
                    <xs:documentation>
                        Specifies the category value of the covariate that must apply when this fixed effect is to be used in the parameter equation. 
                        This is equivalent to specifying the following: 1_cov=cat . beta. 
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoricalRelationType">
        <xs:annotation>
            <xs:documentation>Type specifying a relationship to a specific category value in a categorical covariate.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="catId" type="ct:SymbolIdType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Specifies the category value of the covariate to which this relationship applies.
                    For example if a covariate is sex then the Female category may be specified as catId="F". 
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ParameterRandomEffectType">
        <xs:annotation>
            <xs:documentation>Type defining a Random effect using a reference to a Random variable.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>The reference to the Random Variable.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CovariateDefinitionType">
        <xs:annotation>
            <xs:documentation>Type that specifies a covariate definition.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Symbol"/>
                    <!--xs:element minOccurs="0" ref="ct:UnitRef"/-->
                    <xs:choice>
                        <xs:element name="Continuous" type="mdef:ContinuousCovariateType">
                            <xs:annotation>
                                <xs:documentation>Specifies a continuous covariate.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Categorical" type="mdef:CategorialCovariateType">
                            <xs:annotation>
                                <xs:documentation>Specifies a categprical covariate.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ct:SymbolDefinitionGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CovariateTransformationType">
        <xs:annotation>
            <xs:documentation>Type defines how the covariate is transformed when used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="math:Equation">
                <xs:annotation>
                    <xs:documentation>
                        The transformation is defined as an equation that must include a reference to the covariate variable, defined by the parent of this element.  
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContinuousCovariateType">
        <xs:annotation>
            <xs:documentation>Type defines a continuous covariate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="distrib:AbstractContinuousUnivariateDistribution">
                <xs:annotation>
                    <xs:documentation>The distribution that the continuous covariate follows.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Transformation" type="mdef:CovariateTransformationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The transformation to be applied when the covariate is ued.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategorialCovariateType">
        <xs:annotation>
            <xs:documentation>
                Type defines a categorical covariate.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Category" type="mdef:CategoryType">
                <xs:annotation>
                    <xs:documentation>A category of the categorical covariate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoryType">
        <xs:annotation>
            <xs:documentation>Type defines a category in a categorical covariate.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1">
            <xs:element minOccurs="0" ref="ct:Name"/>
            <xs:element minOccurs="0" ref="ct:Description"/>
            <xs:element minOccurs="0" name="Probability" type="ct:ScalarRhs">
                <xs:annotation>
                    <xs:documentation>The definition of the probability associated with this category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="catId" type="ct:SymbolIdType" use="required">
            <xs:annotation>
                <xs:documentation>The identifier of the category.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="StructuralModelType">
        <xs:annotation>
            <xs:documentation>
                Type that specifies a structural model.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mdef:SimpleParameter">
                        <xs:annotation>
                            <xs:documentation>A parameter definition.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="ct:CommonVariable">
                        <xs:annotation>
                            <xs:documentation>A variable definition.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:BlockDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CovariateModelType">
        <xs:annotation>
            <xs:documentation>
                A type defining a covariate model.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mdef:SimpleParameter">
                        <xs:annotation>
                            <xs:documentation>The definition of parameters in the covariate block. Typically these will define parameters used by the covariate definitions.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="Covariate"
                        type="mdef:CovariateDefinitionType">
                        <xs:annotation>
                            <xs:documentation>Defines a covariate.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:BlockDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ModelDefinitionType">
        <xs:annotation>
            <xs:documentation>Type that specifies the model definition section of the PharmML document.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="VariabilityModel"
                        type="mdef:VariabilityDefnBlock" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>A variability level.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="CovariateModel" maxOccurs="unbounded"
                        type="mdef:CovariateModelType">
                        <xs:annotation>
                            <xs:documentation>A covariate model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ParameterModel"
                        type="mdef:ParameterModelType">
                        <xs:annotation>
                            <xs:documentation>A parameter model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="mdef:StructuralModel">
                        <xs:annotation>
                            <xs:documentation>A structural model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ObservationModel" maxOccurs="unbounded"
                        type="mdef:ObservationModelType">
                        <xs:annotation>
                            <xs:documentation>An observations model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!--
        Elements 
        -->
    <xs:element name="ObservationError" type="mdef:ObservationErrorType" abstract="true">
        <xs:annotation>
            <xs:documentation>Abstract element defining an observation error.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Standard" substitutionGroup="mdef:ObservationError"
        type="mdef:GaussianObsError">
        <xs:annotation>
            <xs:documentation>Defines standard error model.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="General" substitutionGroup="mdef:ObservationError" type="mdef:GeneralObsError">
        <xs:annotation>
            <xs:documentation>Defines general error model.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SimpleParameter" substitutionGroup="mdef:CommonParameterElement"
        type="mdef:SimpleParameterType">
        <xs:annotation>
            <xs:documentation>Defines a simple parameter.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IndividualParameter" substitutionGroup="mdef:CommonParameterElement"
        type="mdef:IndividualParameterType">
        <xs:annotation>
            <xs:documentation>Defines an individual parameter.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="RandomVariable" type="mdef:ParameterRandomVariableType"
        substitutionGroup="mdef:CommonParameterElement">
        <xs:annotation>
            <xs:documentation>Defines a random variable.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CommonParameterElement" abstract="true" type="mdef:CommonParameterType">
        <xs:annotation>
            <xs:documentation>Abstract element defining parameters used in the model.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StructuralModel" type="mdef:StructuralModelType">
        <xs:annotation>
            <xs:documentation>Defines a structural model.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ModelDefinition" type="mdef:ModelDefinitionType">
        <xs:annotation>
            <xs:documentation>This is the top element defining the defintion of the pharmacometric model. This contains the variability model, covariate model, parameter model, structural model and observations model.</xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>
