definitions/trialDesign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013 European Molecular Biology Laboratory, Heidelberg,
Germany and Novo Nordisk A/S, Bagsvaerd, Denmark.

Licensed under the Apache License, Version 2.0 (the "License"); you
may not use this file except in compliance with the License.  You may
obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0
     
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.
-->    
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.pharmml.org/2013/03/TrialDesign"
    xmlns:design="http://www.pharmml.org/2013/03/TrialDesign"
    xmlns:maths="http://www.pharmml.org/2013/03/Maths"
    xmlns:mdef="http://www.pharmml.org/2013/03/ModelDefinition"
    xmlns:ds="http://www.pharmml.org/2013/08/Dataset"
    xmlns:ct="http://www.pharmml.org/2013/03/CommonTypes" version="0.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            Defines trial design section of PharmML.
        </xs:documentation>
    </xs:annotation>

    <!--
        Imports
        -->
    <xs:import namespace="http://www.pharmml.org/2013/03/CommonTypes"
        schemaLocation="http://www.pharmml.org/2013/03/CommonTypes"/>

    <xs:import namespace="http://www.pharmml.org/2013/08/Dataset"
        schemaLocation="http://www.pharmml.org/2013/08/Dataset"/>


    <!--
        Simple Types
        -->

    <xs:simpleType name="DoseInputTypeType">
        <xs:annotation>
            <xs:documentation>
                Defines the dosing input type.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="dose">
                <xs:annotation>
                    <xs:documentation>
                        Dose is assigned to a dosing variable.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="target">
                <xs:annotation>
                    <xs:documentation>
                        Dose is an input to a system of ODEs. 
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <!--
        Complex Types
        -->

    <xs:complexType name="DosingVariableType">
        <xs:annotation>
            <xs:documentation>
                The type that specifies a dosing variable.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>
                        The name of the variable that is the dose administered to.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="ct:Assign">
                <xs:annotation>
                    <xs:documentation>The amount of dose to be applied at dosing time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="design:doseVarAttGroup"/>
    </xs:complexType>
    <xs:complexType name="TreatmentType">
        <xs:annotation>
            <xs:documentation>Describes a treatment, by which we mean one or more regimens that can be appied to a subject.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:ActivityType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element minOccurs="0" ref="ct:Description"/>
                    <xs:element maxOccurs="unbounded" ref="design:DosingRegimen">
                        <xs:annotation>
                            <xs:documentation>The dosing regimen to apply to a subject.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DosingRegimenType" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Defines a dosing regimen type.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="DosingTimesPointsType">
        <xs:annotation>
            <xs:documentation>
                Defines the dosing timepoints.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>
                        References the variable to be assigned the dosing time.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ct:Assign">
                <xs:annotation>
                    <xs:documentation>
                        The dosing time or times to be assigned to the dosing regimen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BolusType">
        <xs:annotation>
            <xs:documentation>
                Type the defines bolus dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:DosingRegimenType">
                <xs:sequence>
                    <xs:element name="DoseAmount" type="design:DosingVariableType" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Dosing information.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="SteadyState" type="design:SteadyStateType">
                            <xs:annotation>
                                <xs:documentation>Steady state bolus dosing.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DosingTimes" type="design:DosingTimesPointsType">
                            <xs:annotation>
                                <xs:documentation>The dosing times.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InfusionType">
        <xs:annotation>
            <xs:documentation>
                Type the defines infusion dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:DosingRegimenType">
                <xs:sequence>
                    <xs:element name="DoseAmount" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Dosing information.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="design:DosingVariableType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="SteadyState" type="design:SteadyStateType">
                            <xs:annotation>
                                <xs:documentation>Steady state infusion dosing.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DosingTimes" type="design:DosingTimesPointsType">
                            <xs:annotation>
                                <xs:documentation>The dosing times.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="Duration" type="design:SteadyStateParameterType"
                            minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The duration of the infusion.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Rate" type="design:SteadyStateParameterType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SteadyStateParameterType">
        <xs:annotation>
            <xs:documentation>
                Type that defines a paremeter used by steady state dosing.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="ct:SymbRef">
                <xs:annotation>
                    <xs:documentation>
                        Reference to a dteady state dosing time variable. 
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ct:Assign"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SteadyStateType">
        <xs:annotation>
            <xs:documentation>
               Type that specifies steady state dosing.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" name="EndTime" type="design:SteadyStateParameterType">
                <xs:annotation>
                    <xs:documentation>The last dosing time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Interval" type="design:SteadyStateParameterType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The dosing period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WashoutType">
        <xs:annotation>
            <xs:documentation>
                A type that defines a washout epoch. When this applies the system is reinitialised.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ActivityType" abstract="false">
        <xs:annotation>
            <xs:documentation>
                An activity that occurs during dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element ref="design:DosingRegimen"/>
            <xs:element ref="design:Washout"/>
        </xs:choice>
        <xs:attributeGroup ref="ct:OidDefnGroup"/>
    </xs:complexType>
    <xs:complexType abstract="true" name="StudyEventType">
        <xs:annotation>
            <xs:documentation>
                A type defining a study event (a CDISC term). In our case such events are observations take during the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ArmRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>In effect defines the population of subjects that this event happens to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObservationsType">
        <xs:annotation>
            <xs:documentation>
                A type defining the set of observations taken from a set of subjects.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:StudyEventType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name">
                        <xs:annotation>
                            <xs:documentation>
                                A descriptive name for this set of observations.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that describes the random variability associated with
                                these observations. Typically this is used to describe Random Inter-Occasion Variability. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="ObservationGroup" type="design:ObservationsGroupType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StudyTimePointType">
        <xs:annotation>
            <xs:documentation>
                A type defining the timepoint in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:Real"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StudyPeriodType">
        <xs:annotation>
            <xs:documentation>
                A type defining the time period in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Start" type="design:StudyTimePointType">
                        <xs:annotation>
                            <xs:documentation>
                                The start time of the period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="End" type="design:StudyTimePointType">
                        <xs:annotation>
                            <xs:documentation>
                                The end time of the period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObservationsGroupType">
        <xs:annotation>
            <xs:documentation>
                A type defining the timepoint in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element minOccurs="1" name="EpochRef" type="ct:OidRefType">
                            <xs:annotation>
                                <xs:documentation>
                                    Refers to the epoch during which this group of observations occurred.  
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Period" type="design:StudyPeriodType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the time period within the study during which this group of observations occurred.  
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EpochDefnType">
        <xs:annotation>
            <xs:documentation>
                Type that defines an epoch of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:StudyPeriodType">
                <xs:sequence>
                    <xs:element ref="design:Order">
                        <xs:annotation>
                            <xs:documentation>
                               The ordew of this epoch in the study.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ArmDefnType">
        <xs:annotation>
            <xs:documentation>
                Type defining an arm of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CellDefnType">
        <xs:annotation>
            <xs:documentation>
                Type defining a Cell in the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="EpochRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the epoch in which this cell occurrs.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ArmRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the arm in which this cell occurs.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element> 
                    <xs:element maxOccurs="unbounded" name="SegmentRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to a Segment which is used in this Cell (segments can be referred to 
                                by more than one cell.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SegmentDefnType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a segment of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ActivityRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to an activity carried out in the segment of the study.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TrialStructureType">
        <xs:annotation>
            <xs:documentation>
                Type that defines the structure of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Epoch" type="design:EpochDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an epoch in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="Arm" type="design:ArmDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an arm of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="Cell" type="design:CellDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a cell in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Segment" maxOccurs="unbounded" type="design:SegmentDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a segment of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="design:Activity">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an activity in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="design:StudyEvent" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a study event. Typically an Observation Event.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TrialDesignType">
        <xs:annotation>
            <xs:documentation>
                A type that defines the design of the study.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="Structure" type="design:TrialStructureType"> 
                        <xs:annotation>
                            <xs:documentation>
                                Defines the structure of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Population" type="design:PopulationType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines the population of the study.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="IndividualDosing"
                        type="design:IndividualDosingType">
                        <xs:annotation>
                            <xs:documentation>
                                Provides time dependent dosing information for each individual in the study.    
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PopulationType">
        <xs:annotation>
            <xs:documentation>
                Type defining the population of subjects in the study.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that defines the random variability between
                                the subjects of the study (BSV).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Demographic"
                        type="design:DemographicType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a property of the individuals in the study that is not a covariate, but is
                                important in the design of the study.    
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" name="IndividualTemplate"
                        type="design:IndividualDefinitionType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a template of information about the subjects in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                Instantiates the individual template defined above with data for each subject within
                                the study.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DemographicType">
        <xs:annotation>
            <xs:documentation>
                The type defining a demographic attribute of the subject.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that describes the random variability between
                                subjects with different values of this demographic attribute. This is typically
                                use to describe random variability between subjects belonging to different study
                                centres or countries.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="ct:Scalar">
                        <xs:annotation>
                            <xs:documentation>
                                A value of this demographic attribute.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="PopulationMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping from a property of the individual template the the dataset defining each individual.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ds:ColumnRef">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the column in the dataset that contains the information to be mapped 
                                to the individual.    
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndividualMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of the individual identifier to the dataset.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ArmMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of the arm to the dataset.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndependentVariableDependentMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of indendent variable dependent properties.    
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ds:ColumnRef"/>
            <xs:choice>
                <xs:element name="IndependentVariableMapping"
                    type="design:IndependentVariableMappingType">
                    <xs:annotation>
                        <xs:documentation>
                            Maps the independent variable (most often time) to a column in the dataset.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EpochMapping" type="design:EpochMappingType">
                    <xs:annotation>
                        <xs:documentation>
                            Maps the epoch to a column in the dataset. The epoch defines the time period in which this
                            property applies.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" ref="design:AttributeMapping">
                <xs:annotation>
                    <xs:documentation>
                        Defines the property of the subject that this mapping applies to.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndependentVariableMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the independent variable mapping.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EpochMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining a mapping from the epoch to values in the column of a dataset.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CovariateMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of a covariate to the values sepcified in a column of the dataset.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType">
                <xs:sequence>
                    <xs:element ref="ct:SymbRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DemographicMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of a demographic attribute to the values sepcified in a column of the dataset.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType">
                <xs:sequence>
                    <xs:element ref="ct:OidRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplicateMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping of values specified in a column of a dataset that defines the number
                time the values in this row should be repeated. This is a convenient way of defining groups of individuals
                with the same properties, without enumerating each individual explicitly.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:PopulationMappingType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndividualDefinitionType">
        <xs:annotation>
            <xs:documentation>
                A type defining a template definition of the individuals in the study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element ref="design:IndividualMapping">
                        <xs:annotation>
                            <xs:documentation>
                                Maps the individual id to the dataset. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="design:ArmMapping">
                        <xs:annotation>
                            <xs:documentation>
                                Maps the arm to the dataset. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="design:AttributeMapping">
                        <xs:annotation>
                            <xs:documentation>
                                Maps an atrribute (Covariate or Demographic) to the dataset. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="IVDependentMapping"
                        type="design:IndependentVariableDependentMappingType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines the indepedent (usually time) variable dependent mapping to the dataset.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="design:ReplicateMapping">
                        <xs:annotation>
                            <xs:documentation>
                                Maps the replicates to the dataset. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndividualDosingType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ActivityRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the activity describing the dosing regimen being instantiated here. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IndividualRef" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the subject in the study that this dosing regimen is applied to. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="DoseAmount" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the amount of dose. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="DosingTime" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the dosing time. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Rate" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the rate of infusion. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Duration" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the duration of infusion. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="SSEndTime" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the last dosing time in steady state dosing. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="SSPeriod" type="ds:ColumnRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies the period in steady state dosing. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                The dataset that instantiates the per-subject dosing regimen.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!--
        Attribute Groups
        -->

    <xs:attributeGroup name="doseVarAttGroup">
        <xs:attribute name="inputType" use="required" type="design:DoseInputTypeType">
            <xs:annotation>
                <xs:documentation>
                    Specifies the type of dosing. Is it assigned to a variable or is it an input
                    to a system of ODEs.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>


    <!--
        Elements
        -->

    <xs:element abstract="true" name="DosingRegimen" type="design:DosingRegimenType">
        <xs:annotation>
            <xs:documentation>
                Specifies dosing regimen. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Bolus" substitutionGroup="design:DosingRegimen" type="design:BolusType">
        <xs:annotation>
            <xs:documentation>
                Specifies a bolus dosing regiment. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Infusion" substitutionGroup="design:DosingRegimen" type="design:InfusionType">
        <xs:annotation>
            <xs:documentation>
                Specifies a infusion dosing regiment. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Order" type="ct:IntValueType">
        <xs:annotation>
            <xs:documentation>
                Specifies the order of elements in the trial structure. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element abstract="false" name="Activity" type="design:ActivityType">
        <xs:annotation>
            <xs:documentation>
                Specifies an activity in the trial structure.  
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Washout" type="design:WashoutType">
        <xs:annotation>
            <xs:documentation>
                Specifies a washout epoch, where variables are reset to their initial values.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ObservationsEvent" substitutionGroup="design:StudyEvent"
        type="design:ObservationsType">
        <xs:annotation>
            <xs:documentation>
                Defines an observations event in the study,  
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IndividualMapping" type="design:IndividualMappingType">
        <xs:annotation>
            <xs:documentation>
                Maps the individual to the dataset.  
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ArmMapping" type="design:ArmMappingType">
        <xs:annotation>
            <xs:documentation>
                Maps the arm to the dataset.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element abstract="true" name="AttributeMapping">
        <xs:annotation>
            <xs:documentation>
                Maps attributes to the dataset. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CovariateMapping" type="design:CovariateMappingType" abstract="false"
        substitutionGroup="design:AttributeMapping">
        <xs:annotation>
            <xs:documentation>
                Mapping to covariates in the dataset. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DemographicMapping" type="design:DemographicMappingType"
        substitutionGroup="design:AttributeMapping">
        <xs:annotation>
            <xs:documentation>
                Mapping to demographics in the dataset. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ReplicateMapping" type="design:ReplicateMappingType">
        <xs:annotation>
            <xs:documentation>
                Mapping to replicates in the dataset. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TrialDesign" type="design:TrialDesignType">
        <xs:annotation>
            <xs:documentation>
                Defines the trial design. Top level element of this schema.  
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element abstract="true" name="StudyEvent" type="design:StudyEventType">
        <xs:annotation>
            <xs:documentation>
                An abstract element for all study events. There is only one element inheriting from this so this
                be superfluous in the future.                        
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
