definitions/trialDesign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013 European Molecular Biology Laboratory, Heidelberg,
Germany and Novo Nordisk A/S, Bagsvaerd, Denmark.

Licensed under the Apache License, Version 2.0 (the "License"); you
may not use this file except in compliance with the License.  You may
obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0
     
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.pharmml.org/pharmml/0.6/TrialDesign"
    xmlns:design="http://www.pharmml.org/pharmml/0.6/TrialDesign"
    xmlns:maths="http://www.pharmml.org/pharmml/0.6/Maths"
    xmlns:mdef="http://www.pharmml.org/pharmml/0.6/ModelDefinition"
    xmlns:ds="http://www.pharmml.org/pharmml/0.6/Dataset"
    xmlns:ct="http://www.pharmml.org/pharmml/0.6/CommonTypes" version="0.6"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            Defines trial design section of PharmML.
        </xs:documentation>
    </xs:annotation>

    <!--
        Imports
        -->
    <xs:import namespace="http://www.pharmml.org/pharmml/0.6/ModelDefinition"
        schemaLocation="http://www.pharmml.org/pharmml/0.6/ModelDefinition"/>
    
    <xs:import namespace="http://www.pharmml.org/pharmml/0.6/CommonTypes"
        schemaLocation="http://www.pharmml.org/pharmml/0.6/CommonTypes"/>
    
    <xs:import namespace="http://www.pharmml.org/pharmml/0.6/Dataset"
        schemaLocation="http://www.pharmml.org/pharmml/0.6/Dataset"/>
    
    <xs:import namespace="http://www.pharmml.org/pharmml/0.6/Maths"
        schemaLocation="http://www.pharmml.org/pharmml/0.6/Maths"/>

    <!--
        Simple Types
        -->

    <xs:simpleType name="DoseInputTargetType">
        <xs:annotation>
            <xs:documentation>
                Defines the dosing input type.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="parameter">
                <xs:annotation>
                    <xs:documentation>
                        Dose is assigned to a dosing variable, e.g. D.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="derivativeVariable">
                <xs:annotation>
                    <xs:documentation>
                        Dose is an input to a variable defined with an ODE. 
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="variable">
                <xs:annotation>
                    <xs:documentation>
                        Dose is an input to a system via a variable.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="admType">
                <xs:annotation>
                    <xs:documentation>
                        Dose is an input to a system via a admin type defined in a macro.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <!--
        Complex Types
        -->


    <xs:complexType name="DosingVariableType">
        <xs:annotation>
            <xs:documentation>
                The type that specifies a dosing variable.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element minOccurs="0" maxOccurs="1" name="TargetMapping" type="ds:TargetMappingType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defined the mapping between targets in the structural model and the TrialDesign.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" ref="ct:SymbRef">
                            <xs:annotation>
                                <xs:documentation>
                                    The name of the variable that is the dose administered to.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:element minOccurs="0" ref="ct:Assign">
                        <xs:annotation>
                            <xs:documentation>The amount of dose to be applied at dosing time.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="design:doseVarAttGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DosingRegimenType" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Defines a dosing regimen type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DosingTimesPointsType">
        <xs:annotation>
            <xs:documentation>
                Defines the dosing timepoints.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>
                                References the variable to be assigned the dosing time.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ct:Assign">
                        <xs:annotation>
                            <xs:documentation>
                                The dosing time or times to be assigned to the dosing regimen.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="BolusType">
        <xs:annotation>
            <xs:documentation>
                Type the defines bolus dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:DosingRegimenType">
                <xs:sequence>
                    <xs:element name="DoseAmount" type="design:DosingVariableType" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Dosing information.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="SteadyState" type="design:SteadyStateType">
                            <xs:annotation>
                                <xs:documentation>Steady state bolus dosing.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DosingTimes" type="design:DosingTimesPointsType">
                            <xs:annotation>
                                <xs:documentation>The dosing times.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InfusionType">
        <xs:annotation>
            <xs:documentation>
                Type the defines infusion dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:DosingRegimenType">
                <xs:sequence>
                    <xs:element name="DoseAmount" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Dosing information.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="design:DosingVariableType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="SteadyState" type="design:SteadyStateType">
                            <xs:annotation>
                                <xs:documentation>Steady state infusion dosing.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DosingTimes" type="design:DosingTimesPointsType">
                            <xs:annotation>
                                <xs:documentation>The dosing times.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="Duration" type="design:SteadyStateParameterType"
                            minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The duration of the infusion.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Rate" type="design:SteadyStateParameterType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SteadyStateParameterType">
        <xs:annotation>
            <xs:documentation>
                Type that defines a paremeter used by steady state dosing.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>
                                Reference to a dteady state dosing time variable. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ct:Assign"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SteadyStateType">
        <xs:annotation>
            <xs:documentation>
                Type that specifies steady state dosing.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="EndTime" type="design:SteadyStateParameterType">
                        <xs:annotation>
                            <xs:documentation>The last dosing time.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Interval" type="design:SteadyStateParameterType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The dosing period.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- TEST -->
    <xs:complexType name="WashoutType">
        <xs:annotation>
            <xs:documentation>
                A type that defines a washout epoch. When this applies the system is reinitialised.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:choice>
                    <xs:element name="VariableToReset" maxOccurs="unbounded" type="design:VariableToResetType"/>
                    <xs:sequence>
                        <xs:element name="Start" type="design:TimepointsType"/>
                        <xs:element name="End" minOccurs="0" type="design:TimepointsType"/>
                    </xs:sequence>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <!-- TEST -->
    <xs:complexType name="VariableToResetType">
        <xs:annotation>
            <xs:documentation>
                Varible to be reset with options specification.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="ct:SymbRef"/>
                        <xs:element name="FullReset"/>
                    </xs:choice>
                    <xs:element name="ResetValue" minOccurs="0" type="ct:RealValueType"/>
                    <xs:element name="ResetTime" minOccurs="0" type="ct:RealValueType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <xs:complexType name="LookupTableType">
        <xs:annotation>
            <xs:documentation>
                A type defining the lookup table type data.                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    
                    <xs:element name="ColumnMapping" minOccurs="0" maxOccurs="unbounded" type="ds:ColumnMappingType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines mapping of IDV/EPOCH/ARM etc. from the lookup table to model. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                        
                    <xs:element name="Target" maxOccurs="unbounded" type="design:TargetType">
                        <xs:annotation>
                            <xs:documentation>
                                Definition of mapping between lookup table variable and target in the model.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ColumnTransformation" minOccurs="0" maxOccurs="unbounded" type="ds:ColumnTransformationType">
                        <xs:annotation>
                            <xs:documentation>
                                Allows to encode any transformation of the columns.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                Instantiates the individual template defined above with data for each subject within
                                the study.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="TargetType">
        <xs:annotation>
            <xs:documentation>
                Mapping of the lookup table target variables type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:sequence>
                        <xs:element name="ColumnMapping" minOccurs="1" maxOccurs="unbounded" type="ds:ColumnMappingType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines mapping to the dataset containing objective data. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>                        
                    </xs:sequence>                        
                </xs:sequence>
                <xs:attributeGroup ref="design:doseVarAttGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AdministrationType">
        <xs:annotation>
            <xs:documentation>
                An activity that occurs during dosing. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="design:LookupTable"/>
                        <xs:element ref="design:DosingRegimen"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    
    <!-- TEST -->
    <xs:complexType name="ActionType">
        <xs:annotation>
            <xs:documentation>
                An action that occurs during . 
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="design:Washout"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    
<!--    <xs:complexType abstract="true" name="StudyEventType">
        <xs:annotation>
            <xs:documentation>
                A type defining a study event (a CDISC term). In our case such events are observations take during the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ArmRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>In effect defines the population of subjects that this event happens to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->
    <!-- TEST -->
<!--  OROIIGINAL  
        <xs:complexType name="ObservationsType">
        <xs:annotation>
            <xs:documentation>
                A type defining the set of observations taken from a set of subjects.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:StudyEventType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name">
                        <xs:annotation>
                            <xs:documentation>
                                A descriptive name for this set of observations.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that describes the random variability associated with
                                these observations. Typically this is used to describe Random Inter-Occasion Variability. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="ObservationGroup" type="design:ObservationsGroupType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>--> 
    <!-- TEST - teh oroginal needs modification - moving 'ArmRef' from redundant StudyEvent
    and changing extension type to PharmMLRootType PLUS and renaming from ObservationsType to OccasionsType -->
    <xs:complexType name="OccasionsType">
        <xs:annotation>
            <xs:documentation>
                A type defining the set of identifiable occasions during the study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <!-- TEST - removed -->
<!--                    <xs:element minOccurs="0" ref="ct:Name">
                        <xs:annotation>
                            <xs:documentation>
                                A descriptive name for this set of observations.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>-->
                    <!-- /TEST -->
                    <!-- TEST -->
<!--                    <xs:element maxOccurs="unbounded" name="ArmRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>In effect defines the population of subjects that this event happens to.</xs:documentation>
                        </xs:annotation>
                    </xs:element>-->
                    <!-- /TEST -->
                    <xs:element minOccurs="0" ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that describes the random variability associated with
                                these observations. Typically this is used to describe Random Inter-Occasion Variability. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TEST renaming to Occasion and ObservationsGroupType to SingleOccasionType-->
                    <xs:element maxOccurs="unbounded" name="Occasion" type="design:SingleOccasionType"/>
                    <!-- /TEST -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    
    <xs:complexType name="StudyTimePointType">
        <xs:annotation>
            <xs:documentation>
                A type defining the timepoint in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:Real"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StudyPeriodType">
        <xs:annotation>
            <xs:documentation>
                A type defining the time period in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Start" type="design:StudyTimePointType">
                        <xs:annotation>
                            <xs:documentation>
                                The start time of the period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="End" type="design:StudyTimePointType">
                        <xs:annotation>
                            <xs:documentation>
                                The end time of the period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- TEST renamed from ObservationsGroupType -->
    <xs:complexType name="SingleOccasionType">
        <xs:annotation>
            <xs:documentation>
                A type defining the timepoint in a study.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <!-- TEST to be removed -->
<!--                        <xs:element minOccurs="1" name="EpochRef" type="ct:OidRefType">
                            <xs:annotation>
                                <xs:documentation>
                                    Refers to the epoch during which this group of observations occurred.  
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>-->
                        <!-- /TEST to be removed -->
                        <xs:element name="Period" type="design:StudyPeriodType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the time period within the study during which this group of observations occurred.  
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    <xs:complexType name="EpochDefnType">
        <xs:annotation>
            <xs:documentation>
                Type that defines an epoch of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="design:StudyPeriodType">
                <xs:sequence>
                    <xs:element ref="design:Order">
                        <xs:annotation>
                            <xs:documentation>
                               The ordew of this epoch in the study.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    <xs:complexType name="ArmDefnType">
        <xs:annotation>
            <xs:documentation>
                Type defining an arm of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <!-- TEST -->
                    <xs:element name="ArmRef" minOccurs="0" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>Reference to an amr on which the current arm is based.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /TEST -->
                    <xs:element name="ArmSize" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="NumberSamples" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="NumberTimes" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="SameTimes" minOccurs="0" type="design:ArmAttributeType"/>

                    <xs:element name="InterventionSegment" minOccurs="0" maxOccurs="unbounded" type="design:InterventionSegmentType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a treatment segment of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObservationSegment" minOccurs="0" maxOccurs="unbounded" type="design:ObservationSegmentType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a observation segment of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OccasionSegment" minOccurs="0" maxOccurs="unbounded" type="design:OccasionSegmentType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a occasion segment of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
<!--    <xs:complexType name="ArmSizeType">
        <xs:annotation>
            <xs:documentation>Type for defining the arm size</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->
    <!-- TEST -->
<!--   not required
        <xs:complexType name="CellDefnType">
        <xs:annotation>
            <xs:documentation>
                Type defining a Cell in the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="EpochRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the epoch in which this cell occurrs.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ArmRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the arm in which this cell occurs.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element> 
                    <xs:element maxOccurs="unbounded" name="SegmentRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to a Segment which is used in this Cell (segments can be referred to 
                                by more than one cell.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->
    <!-- /TEST -->
    
    <xs:complexType name="ObservationsCombinationType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a combination of observations.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Observation" type="design:SingleObservationType"/>
                    <xs:element name="Relative" minOccurs="0" type="design:RelativeType"/>
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- TEST -->
    <xs:complexType name="SingleObservationType">
        <xs:annotation>
            <xs:documentation>Signle observation type as element of ObservationsCombination.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ObservationRef" maxOccurs="unbounded" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>Reference to an observation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Start" minOccurs="0" type="design:TimepointsType"/>  
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <!-- TEST -->
    <xs:simpleType name="RelativeType">
        <xs:annotation>
            <xs:documentation>Type defining relativity of observations.</xs:documentation>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="ct:SymbolIdType">
                    <xs:enumeration value="TRUE"/>
                    <xs:enumeration value="FALSE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <!-- /TEST -->
    
    <!-- TEST changed from SegmentDefnType -->
    <xs:complexType name="InterventionSegmentType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a treatment segment of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="InterventionList" type="design:InterventionListType"/>
                    <xs:element name="Start" minOccurs="0" type="design:TimepointsType"/>
                </xs:sequence>
<!--                <xs:attributeGroup ref="ct:OidDefnGroup"/>-->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST changed from SegmentDefnType -->
    <!-- TEST -->
    <xs:complexType name="InterventionListType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a treatment list of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="InterventionRef" maxOccurs="unbounded" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the intervention describing the dosing regimen being instantiated here. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    <!-- TEST -->
    <xs:complexType name="ObservationSegmentType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a observation segment of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ObservationList" type="design:ObservationListType"/>
                    <xs:element name="Start" minOccurs="0" type="design:TimepointsType"/>
                </xs:sequence>
                <!--                <xs:attributeGroup ref="ct:OidDefnGroup"/>-->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    <!-- TEST -->
    <xs:complexType name="ObservationListType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining a observation list of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ObservationRef" maxOccurs="unbounded" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the observation being instantiated here. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    <!-- TEST -->
    <xs:complexType name="OccasionSegmentType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining an occasion segment of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="OccasionList" type="design:OccasionListType"/>
                    <xs:element name="Start" minOccurs="0" type="design:TimepointsType"/>
                </xs:sequence>
                <!--                <xs:attributeGroup ref="ct:OidDefnGroup"/>-->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    <!-- TEST -->
    <xs:complexType name="OccasionListType">
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
                    Type defining an occasion list of the study.  
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="OccasionRef" maxOccurs="unbounded" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the occasion being instantiated here. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <xs:complexType name="TrialStructureType">
        <xs:annotation>
            <xs:documentation>
                Type that defines the structure of the study.  
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <!-- TEST -->
                    <xs:element name="Interventions" type="design:InterventionsType">
                        <xs:annotation>
                            <xs:documentation>Defines the administrations and actions.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /TEST -->
                    <!-- moved from msteps and modified -->
                    <xs:element name="Observations" minOccurs="0" maxOccurs="unbounded" type="design:ObservationDataType">
                        <xs:annotation>
                            <xs:documentation>Defines the observation data to use in the tasks.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /moved from msteps -->
                    <!-- moved here -->
                    <xs:element name="Occasions" maxOccurs="unbounded" type="design:OccasionsType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an occasion.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /moved here -->
                    <!-- TEST -->
                    <xs:element name="DesignSpaces" minOccurs="0" maxOccurs="unbounded" type="design:DesignSpacesType">
                        <xs:annotation>
                            <xs:documentation>Defines the design spaces for optimization.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /TEST -->
                    <!-- moved from below -->
                    <xs:element name="Arms" type="design:ArmsType">
                        <xs:annotation>
                            <xs:documentation>Desines the arms in the study and properties applicable to all arms.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /moved from below -->
                    <!--<!-\- TEST - used to be by ref=StudyEvent -\->
                    <xs:element name="Occasions" maxOccurs="unbounded" type="design:OccasionsType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a study event. Typically an Observation Event.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-\- /TEST -\->
                    <xs:element maxOccurs="unbounded" name="Epoch" type="design:EpochDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an epoch in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-\- TEST -\->-->
<!--                    <xs:element maxOccurs="unbounded" name="Cell" type="design:CellDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a cell in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>-->
                    <!-- /TEST -->
                    <!-- TEST -->
<!--                    <xs:element name="Segment" maxOccurs="unbounded" type="design:SegmentDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a segment of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>-->
                    <!-- /TEST -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TrialDesignType">
        <xs:annotation>
            <xs:documentation>
                A type that defines the design of the study.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice>
                        <xs:sequence>
                            <!-- moved from msteps -->
                            <xs:element name="ExternalDataSet" minOccurs="0" maxOccurs="unbounded" type="design:ExternalDataSetType">
                                <xs:annotation>
                                    <xs:documentation>Defines the external format datset.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <!-- /moved from msteps -->
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="Structure" minOccurs="0" type="design:TrialStructureType"> 
                                <xs:annotation>
                                    <xs:documentation>
                                        Defines the structure of the study.   
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Population" minOccurs="0" type="design:PopulationType">
                                <xs:annotation>
                                    <xs:documentation>
                                        Defines the population of the study.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndividualDosing"
                                type="design:IndividualDosingType">
                                <xs:annotation>
                                    <xs:documentation>
                                        Provides time dependent dosing information for each individual in the study.    
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:choice>
                    <!-- TEST to be moved again after Activities-->
                    <!--<!-\- moved from msteps and modified -\->
                    <xs:element name="Observations" minOccurs="0" maxOccurs="unbounded" type="design:ObservationDataType">
                        <xs:annotation>
                            <xs:documentation>Defines the observation data to use in the tasks.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-\- /moved from msteps -\->-->
                    <!-- /TEST -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    <xs:complexType name="ObservationDataType">
        <xs:annotation>
            <xs:documentation>Type combining the dataset and explicit observations.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <!-- TEST -->
                    <xs:element name="SimpleParameter" minOccurs="0" maxOccurs="unbounded" type="mdef:SimpleParameterType"/>
                    <!-- /TEST -->
                    <xs:choice>
                        <!-- TEST ??? -->
                        <xs:element ref="design:LookupTable"/>
                        <!-- TEST -->
                        
                        <xs:element name="ObservationsDataset" type="design:DatasetMappingType" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Defines the observation in a dataset to use in the tasks.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ObservationsExplicit" minOccurs="0" maxOccurs="unbounded"
                            type="design:ObservationsExplicitType">
                            <xs:annotation>
                                <xs:documentation>The observations to be generated by the simulation.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:element name="ObservationsCombination" minOccurs="0" maxOccurs="unbounded" type="design:ObservationsCombinationType">
                        <xs:annotation>
                            <xs:documentation>Combination of observations.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <!-- TEST -->
<!--                <xs:attributeGroup ref="ct:OidDefnGroup"/>-->
                <!-- /TEST -->
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    <!-- /TEST -->
    
    <!-- TEST -->
    <xs:complexType name="DesignSpacesType">
        <xs:annotation>
            <xs:documentation>
                Type defining the design spaces for optimization.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="DesignSpace" type="design:SingleDesignSpaceType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SingleDesignSpaceType">
        <xs:annotation>
            <xs:documentation>
                Type defining a single design space for optimization.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="InterventionRef" maxOccurs="unbounded" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the intervention describing the dosing regimen being target of this design space. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObservationRef" minOccurs="0" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>Optional reference to an observation already defined.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <!-- /TEST -->
    
    <xs:complexType name="PopulationType">
        <xs:annotation>
            <xs:documentation>
                Type defining the population of subjects in the study.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that defines the random variability between
                                the subjects of the study (BSV).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TEST -->
<!--                Redundant with columnType=covariate
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Demographic"
                        type="design:DemographicType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a property of the individuals in the study that is not a covariate, but is
                                important in the design of the study.    
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>-->
                    <!-- /TEST -->
                    <xs:element name="ColumnMapping" minOccurs="0" maxOccurs="unbounded" type="ds:ColumnMappingType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines mapping to the dataset containing population data. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                    
                    
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                Instantiates the individual template defined above with data for each subject within
                                the study.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- TEST -->
    <xs:complexType name="ArmsType">
        <xs:annotation>
            <xs:documentation>Type for the definition of arms and their properties.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <!-- TEST -->
                    <xs:element name="SimpleParameter" minOccurs="0" maxOccurs="unbounded" type="mdef:SimpleParameterType"/>
                    <!-- /TEST -->
                    <xs:element name="ArmSize" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="CostFunction" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="NumberArms" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="NumberSamples" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="NumberTimes" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="SameTimes" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="TotalCost" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="TotalSize" minOccurs="0" type="design:ArmAttributeType"/>
                    <!-- TEST -->
                    <xs:element minOccurs="0" name="CovariateModel" maxOccurs="unbounded"
                        type="mdef:CovariateModelType">
                        <xs:annotation>
                            <xs:documentation>A covariate model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- /TEST -->
                    <xs:element maxOccurs="unbounded" name="Arm" type="design:ArmDefnType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an arm of the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <!-- TEST -->
    <xs:complexType name="InterventionsType">
        <xs:annotation>
            <xs:documentation>Type defining the interventions: administrations and acgtions.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="Administration" maxOccurs="unbounded" type="design:AdministrationType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines a treatment in the study.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Action" minOccurs="0" maxOccurs="unbounded" type="design:ActionType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines an action in the study - reset or wahsout.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /TEST -->
    
    <!-- moved from msteps -->
    <xs:complexType name="ObservationsExplicitType">
        <xs:annotation>
            <xs:documentation>
                Type defining the observation timepoints.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ObservationRef" minOccurs="0" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>Optoinal reference to an observation already defined.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NumberTimes" minOccurs="0" type="design:ArmAttributeType"/>
                    <xs:element name="SampleTime" minOccurs="0" type="design:TimepointsType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines the time-points of the observations.  
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="Continuous" type="design:ContinuousObservationType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the continuous variable output.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Discrete" type="design:DiscreteObservationType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the discrete variable output.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <!-- TEST -->
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
                <!-- /TEST -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContinuousObservationType">
        <xs:annotation>
            <xs:documentation>
                Type defining the type of a continuous observation variable to be simulated.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variable to be observed. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DiscreteObservationType">
        <xs:annotation>
            <xs:documentation>
                Type defining the type of a discrete observation variable to be simulated.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variable to be observed. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DatasetMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining type data and task settings.                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ColumnMapping" maxOccurs="unbounded" type="ds:ColumnMappingType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines mapping to the dataset containing objective data. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                Instantiates the individual template defined above with data for each subject within
                                the study.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <!-- TEST -->
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
                <!-- /TEST -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ExternalDataSetType">
        <xs:annotation>
            <xs:documentation>
                A type defining the external type data and task settings.                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="ColumnMapping" minOccurs="0" maxOccurs="unbounded" type="ds:ColumnMappingType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines mapping to the dataset. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ColumnTransformation" minOccurs="0" maxOccurs="unbounded" type="ds:ColumnTransformationType">
                            <xs:annotation>
                                <xs:documentation>
                                    Allows to encode any transformation of the columns.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MultipleDVMapping" minOccurs="0" maxOccurs="unbounded" type="design:MultipleDVMappingType">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines mapping to the dataset containing objective data. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                    <xs:sequence>
                        <xs:element ref="ds:DataSet">
                            <xs:annotation>
                                <xs:documentation>
                                    Data for each subject within the study.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CodeInjection" minOccurs="0" type="design:CodeInjectionType">
                            <xs:annotation>
                                <xs:documentation>
                                    Placegholder for target tool code.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:sequence>
                <xs:attribute name="toolName" use="required" type="ct:ToolNameType">
                    <xs:annotation>
                        <xs:documentation>The tool name with which the dataset is compatible.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="MultipleDVMappingType">
        <xs:annotation>
            <xs:documentation>
                The type that defines column mapping.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ds:ColumnRef">
                        <xs:annotation>
                            <xs:documentation>
                                The column reference to map to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Piecewise" type="maths:PiecewiseType">
                        <xs:annotation>
                            <xs:documentation>Defines a piecewise expression.</xs:documentation>
                        </xs:annotation>
                    </xs:element>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CodeInjectionType">
        <xs:annotation>
            <xs:documentation>
                Type that defines the target tool code injection.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SymbolMapping" type="design:SymbolMappingType">
                        <xs:annotation>
                            <xs:documentation>Defines parameter mapping between injected code and model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TargetCode" type="design:GenericCodeType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="GenericCodeType">
        <xs:annotation>
            <xs:documentation>
                Defines the target tool CDATA code injection containing element.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="Symbol" minOccurs="0" maxOccurs="unbounded" type="design:TargetToolSymbolType"/>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
                                Original target tool code.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="TargetToolSymbolType">
        <xs:annotation>
            <xs:documentation>
                Target tool variable type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:attributeGroup ref="ct:SymbolDefinitionGroup"/>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SymbolMappingType">
        <xs:annotation>
            <xs:documentation>
                Type that defines variable/parameter, used in the injected code, to be mapped to the model or dataset.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>
                                The parameter reference in injected code to map to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:element minOccurs="1" ref="ct:SymbRef">
                            <xs:annotation>
                                <xs:documentation>
                                    The model parameter reference to map to.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="1" ref="ds:ColumnRef">
                            <xs:annotation>
                                <xs:documentation>
                                    The column reference to map to.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>                        
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- /moved from msteps -->

    <!-- TEST redundant type -->
<!--    <xs:complexType name="DemographicType">
        <xs:annotation>
            <xs:documentation>
                The type defining a demographic attribute of the subject.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ct:Name"/>
                    <xs:element ref="ct:VariabilityReference">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the variability level that describes the random variability between
                                subjects with different values of this demographic attribute. This is typically
                                use to describe random variability between subjects belonging to different study
                                centres or countries.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="ct:Scalar">
                        <xs:annotation>
                            <xs:documentation>
                                A value of this demographic attribute.   
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:ColumnRef">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the column in the dataset that contains the information to be mapped 
                                to the individual.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                    
                </xs:sequence>
                <xs:attributeGroup ref="ct:OidDefnGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->
    <!-- /TEST -->
    <xs:complexType abstract="true" name="PopulationMappingType">
        <xs:annotation>
            <xs:documentation>
                A type defining the mapping from a property of the individual template the the dataset defining each individual.   
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element ref="ds:ColumnRef">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the column in the dataset that contains the information to be mapped 
                                to the individual.    
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IndividualDosingType">
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:sequence>
                    <xs:element name="ActivityRef" type="ct:OidRefType">
                        <xs:annotation>
                            <xs:documentation>
                                Refers to the activity describing the dosing regimen being instantiated here. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ColumnMapping" maxOccurs="unbounded" type="ds:ColumnMappingType">
                        <xs:annotation>
                            <xs:documentation>
                                Defines mapping to the dataset containing objective data. 
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ds:DataSet">
                        <xs:annotation>
                            <xs:documentation>
                                The dataset that instantiates the per-subject dosing regimen.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TimepointsType">
        <xs:annotation>
            <xs:documentation>
                Timepoints.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <!-- TEST -->
                <xs:choice>
                    <xs:element ref="ct:Arrays"/>
                    <!-- TEST -->
                    <xs:element ref="ct:Scalar"/>
                    <!-- /TEST -->
                </xs:choice>
                <!-- /TEST -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- TEST -->
    <xs:complexType name="ArmAttributeType">
        <xs:annotation>
            <xs:documentation>
                Arm attribute defining type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ct:PharmMLRootType">
                <xs:choice>
                    <xs:element ref="ct:Assign">
                        <xs:annotation>
                            <xs:documentation>Initialise the name attribute.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ct:SymbRef">
                        <xs:annotation>
                            <xs:documentation>Reference to the variable which is assigned to the 'name' attribute.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ct:Scalar">
                        <xs:annotation>
                            <xs:documentation>The value of the name attribute.</xs:documentation>
                        </xs:annotation>
                    </xs:element>                    
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- TEST -->
    
    <!--
        Attribute Groups
        -->

    <xs:attributeGroup name="doseVarAttGroup">
        <xs:attribute name="inputTarget" use="required" type="design:DoseInputTargetType">
            <xs:annotation>
                <xs:documentation>
                    Specifies the type of dosing. Is it assigned to a dose parameter, a variable or is it an input to an ODE.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>


    <!--
        Elements
        -->

    <xs:element abstract="true" name="DosingRegimen" type="design:DosingRegimenType">
        <xs:annotation>
            <xs:documentation>
                Specifies dosing regimen. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Bolus" substitutionGroup="design:DosingRegimen" type="design:BolusType">
        <xs:annotation>
            <xs:documentation>
                Specifies a bolus dosing regiment. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Infusion" substitutionGroup="design:DosingRegimen" type="design:InfusionType">
        <xs:annotation>
            <xs:documentation>
                Specifies a infusion dosing regiment. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Order" type="ct:IntValueType">
        <xs:annotation>
            <xs:documentation>
                Specifies the order of elements in the trial structure. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- TEST -->
<!--    <xs:element abstract="false" name="Activity" type="design:ActivityType">
        <xs:annotation>
            <xs:documentation>
                Specifies an activity in the trial structure.  
            </xs:documentation>
        </xs:annotation>
    </xs:element>-->
    <!-- /TEST -->
    <xs:element name="Washout" type="design:WashoutType">
        <xs:annotation>
            <xs:documentation>
                Specifies a washout epoch, where variables are reset to their initial values.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LookupTable" type="design:LookupTableType">
        <xs:annotation>
            <xs:documentation>
                Specifies data set coming from a lookup-table.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- TEST not required -> Occasions -->
<!--    <xs:element name="ObservationsEvent" type="design:ObservationsType">
        <xs:annotation>
            <xs:documentation>
                Defines an observations event in the study,  
            </xs:documentation>
        </xs:annotation>
    </xs:element>-->
    <!-- /TEST -->
    <!-- TEST -->
<!-- ORG   <xs:element name="ObservationsEvent" substitutionGroup="design:StudyEvent"
        type="design:ObservationsType">
        <xs:annotation>
            <xs:documentation>
                Defines an observations event in the study,  
            </xs:documentation>
        </xs:annotation>
    </xs:element>-->
    <!-- /TEST -->
    
    <xs:element name="TrialDesign" type="design:TrialDesignType">
        <xs:annotation>
            <xs:documentation>
                Defines the trial design. Top level element of this schema.  
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- TEST -->
<!--    <xs:element abstract="true" name="StudyEvent" type="design:StudyEventType">
        <xs:annotation>
            <xs:documentation>
                An abstract element for all study events. There is only one element inheriting from this so this
                be superfluous in the future.                        
            </xs:documentation>
        </xs:annotation>
    </xs:element>-->
    <!-- /TEST -->
    
<!--    <xs:element name="SampleTime" type="design:TimepointsType"/>-->
    
</xs:schema>
